@charset "UTF-8";

.blue {
	background-color: #afd3df;
}

.white {
	background-color: white;
}

.lightgray {
	background-color: #F5F5F5;
}

.c-lightgray {
	color: #F5F5F5;
}

.c-gray {
	color: gray;
}

.c-white {
	color: white;
}