@charset "UTF-8";
.box {
	width: 600px;
	height: 150px;
	margin: 30px;
}


.bar {
	background-color: lightgray;
	padding: 10px;
	margin: 20px;
}

.write-div {
	display: flex;
	justify-content: space-between;
}

.img {
	width: 100%;
}