@charset "UTF-8";

body {
	background-color: gray;
}

.box-1 {
	width: 1200px;
	height: 800px;
	border-radius: 5px;
}

.box-2 {
	width: 95%;
	height: 95%;
	border-radius: 5px;
}

.container {
	display: flex;
	width: 95%;
	height: 95%;
}

.container .left-box {
	width: 30%;
}

.container .right-box {
	width: 70%;
}

.box-radius-5 {
	border: 1px solid #171717;
	border-radius: 5px;
	box-shadow: rgba(0 ,0 ,0 ,0.1) 5px 5px 5px -4px;
	background-color: white;
	border-radius: 5px;
}

.today-div-1 {
	height: 5%;
	margin-bottom: 5px;
}

.today-div-2 {
	height: 4%;
	margin: 5px 0 0 0;
}

.profile {
	border: 1px solid #171717;
	width: 70%;
	height: 30%;
	margin-bottom: 30px;
	margin-top: -160px;
}

.dot-line {
	border-bottom: 1px dotted gray;
	width: 100%;
	margin: 20px 0;
}

.logo-wrapper {
	width: 50%;
	padding: 15px;
}

.logo-wrapper .literal-logo {
	width: 100%;
	height: 100%;
}

.right-box .right-box-content {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.right-box-content .menu {
	display: flex;
	justify-content: center;
	width: 100px;
	padding: 5px;
}

.menu-wrapper+.menu-wrapper {
	border-top: 1px solid black;
}

.menu+.menu {
	border-left: 1px solid black;
}


.big-img {
	width: 92%;
	height: 80%;
	border: 1px solid black;
	border-radius: 3px;
}

.bgm-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.category {
	margin-left: -60px;
	width: 80px;
	height: 722px;
}

.category div {
	width: inherit;
	height: 30px;
	border: 1px solid transparent;
	border-radius: 0 10px 10px 0;
	text-align: center;
	margin: 5px;
	padding: 5px;
	border-left: none;
	background-color: #376aa8;
}

.category div:hover {
	background-color: white;
}